<template>
  <v-container>
    <v-btn
      color="light-blue"
      class="ma-2 white--text"
      @click="backToList"
    >
      <v-icon
        left
        dark
      >
        fa-chevron-left
      </v-icon>
      Назад
    </v-btn>

    <h2 class="mt-4 mb-4">{{ pageTitle }}</h2>

    <v-progress-linear
      v-if="loading"
      indeterminate
      color="light-blue"
    />

    <v-simple-table v-else>
      <template v-slot:default>
        <tbody>
          <tr>
            <td>Название</td>
            <td v-html="pageTitle" />
          </tr>
          <tr>
            <td>Описание</td>
            <td v-html="description" />
          </tr>
          <tr>
            <td>Адрес</td>
            <td v-html="address" />
          </tr>
          <tr>
            <td>Организация</td>
            <td v-html="organization" />
          </tr>
          <tr>
            <td>Фото</td>
            <td>
              <v-img
                :src="photo"
                :lazy-src="photo"
                max-width="500"
                max-height="300"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular
                      indeterminate
                      color="light-blue"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Details',
  computed: {
    ...mapGetters('libraries', ['loading']),
    pageTitle() {
      return this.library.data?.general?.name || '';
    },
    description() {
      return this.library.data?.general?.description || '';
    },
    address() {
      return this.library.data?.general?.address?.fullAddress || '';
    },
    organization() {
      return this.library.data?.general?.organization?.name || '';
    },
    photo() {
      return this.library.data?.general?.image?.url || '';
    },
  },
  async mounted() {
    this.library = await this.getLibraryById(this.$route.params.id);
  },
  data() {
    return {
      library: {},
    };
  },
  methods: {
    ...mapActions('libraries', ['getLibraryById']),
    backToList() {
      this.$router.push({ name: 'Main' });
    },
  },
};
</script>
