<template>
  <v-container>
    <h2>Библиотеки</h2>
    <v-data-table
      fixed-header
      locale="ru-RU"
      :loading="loading"
      :headers="headers"
      :items="librariesFlatArray"
      :items-per-page="5"
      :search="filter"
      @click:row="onRowClicked"
    >
      <template v-slot:item.name="{ item }">
        <span v-html="markedText(item.name)"></span>
      </template>
      <template v-slot:item.description="{ item }">
        <span v-html="markedText(item.description)"></span>
      </template>
      <template v-slot:item.address="{ item }">
        <span v-html="markedText(item.address)"></span>
      </template>
      <template v-slot:item.organization="{ item }">
        <span v-html="markedText(item.organization)"></span>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Main',
  props: {
    filter: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      inProgress: false,
      headers: [
        { text: 'Название', value: 'name' },
        { text: 'Описание', value: 'description' },
        { text: 'Адрес', value: 'address' },
        { text: 'Организация', value: 'organization' },
      ],
      libraries: [],
    };
  },
  async mounted() {
    await this.fetchLibraries();
  },
  computed: {
    ...mapGetters('libraries', ['loading', 'librariesFlatArray']),
  },
  methods: {
    ...mapActions('libraries', ['fetchLibraries']),
    markedText(cellText) {
      if (this.filter.length > 0) {
        return cellText.replace(new RegExp(this.filter, 'g'), '<span class="found">$&</span>');
      }
      return cellText;
    },
    onRowClicked(row) {
      this.$router.push({
        name: 'Detail',
        params: {
          id: row.id,
        },
      });
    },
  },
};
</script>

<style lang="stylus">
.found
  color: red;
</style>
