<template>
  <v-app-bar app dark class="light-blue">
    <v-container d-flex justify-space-between align-center>
      <h3 class="white--text d-none d-sm-flex">Лига Спорта</h3>
      <h3 class="white--text d-md-flex d-sm-none">ЛС</h3>
      <div class="ml-4 pt-6">
        <v-text-field
          v-model="searchText"
          dense
          rounded
          filled
          clearable
          placeholder="Поиск"
          @input="searchProccess"
        ></v-text-field>
      </div>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  nama: 'Header',
  data() {
    return {
      searchText: '',
    };
  },
  methods: {
    searchProccess() {
      const inputText = this.searchText ? this.searchText : '';
      this.$emit('onChangeFilter', inputText);
    },
  },
};
</script>
