<template>
  <div id="app">
    <v-app>
      <app-header @onChangeFilter="setFilterText" />
      <v-main>
        <v-container fluid>
          <keep-alive>
            <router-view :filter="searchFilterText"></router-view>
          </keep-alive>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';

export default {
  name: 'App',
  components: {
    'app-header': Header,
  },
  data() {
    return {
      searchFilterText: '',
    };
  },
  methods: {
    setFilterText(value) {
      this.searchFilterText = value;
    },
  },
};
</script>

<style lang="stylus">
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

html, body, .app
  display: block
  min-height: 100%
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  font-size: 18px
  font-weight: 400
  color: color_grey_1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
</style>
